*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c799a1;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------------------------- Nav Bar ---------------------------- */
.nav{
    width: 100%;
    display: flex;
    background-color: #d34f65;
    position:sticky;
}

.nav img{
    width: 60px;
    margin-left: 20px;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
}

.nav ul li{
    padding: 20px ;
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
}

.nav ul li a{
    text-decoration: none;
    color: #8ed6d6;
}

.nav ul li a:hover{
    background-color: darkcyan;
    color: white;
}

/* ----------------------------------Header ------------------------- */


.header{
    position: relative;
    margin-top: 110px;
    text-align: center;
}

.header .upper-cloud{
      width: 150px;
      position: absolute;
      top: -120px;
      right: 550px;
}


.header .lower-cloud{
    width: 150px;
    position: absolute;
    left: 550px;
    top: 120px;
}

.header .mountain{
    margin-top: 150px;
    width: 60%;

}

.header p {
   font-size: 20px;
}

.header h1{
    font-size: 55px;
    color: #8ed6d6;
}

/* ------------------------- Container Which Contain All below sections -------------------------- */

.container{
    text-align: center;
    background-color: white;
    margin-top: 50px;
}

/* ------------------------- Info -------------------------- */
.container .info{
    position: relative;
}

.container .info img{
    width: 250px;
    margin-top: 30px;
}

.container .info h1{
    font-size: 40px;
    color: #8ed6d6;
}

.container .info p{
    font-size: 25px;
}



/* ------------------------- Skill -------------------------- */

.skill{
    position: relative;
    display: block;
    text-align: center;
}

.skill h1{
    font-size: 40px;
    color: #d34f65;
    margin-bottom: 4px;
}

.skill .item1{
    margin-top: 20px;
    padding: 0 500px;
}

.skill .item1 img{
    width: 100px;
    position: absolute;
    left: 450px;
}

.skill .item1 h1{
    font-size: 30px;
    color: black;
}

.skill .item1 p{
   font-size: 20px;
   padding: 2px 90px;
}

.skill .item2{
    margin-top: 20px;
    padding: 0 500px;
}

.skill .item2 img{
    width: 100px;
    position: absolute;
    right: 450px;
}

.skill .item2 h1{
    font-size: 30px;
    color: black;
}

.skill .item2 p{
    font-size: 20px;
    padding: 2px 90px;
}


/*--------------------------- Contact --------------------------  */
.contact{
    text-align: center;
}

.contact h2{
    font-size: 40px;
    color: #d34f65;
    margin-bottom: 8px;
}

.contact p{
    margin-top: 4px;
    font-size: 20px;
}

.contact .btn{
    font-size: 30px;
    margin-top: 30px;
    border: 2px solid #d34f65;
    border-radius: 8px;
    padding: 4px 4px;
    color: #d34f65;
}

.contact .btn:hover{
    background-color: #d34f65;
    color: #8ed6d6;
    border: 2px solid #8ed6d6;
}

/* --------------------------- Footer ------------------------------ */

.footer{
    display: block;
    padding: 20px;
}

.footer span{
    padding: 20px;
    font-size: 20px;
}

.footer p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

/* ---------------------------- Responsive ------------------- */
@media (max-width: 1540px) {
    /* header start */
    .header{
        margin-top: 70px;
    }
    .header .upper-cloud{
        margin-left: 60%;
        position: sticky;
    }
    .header .lower-cloud{
        margin-right: 60%;
        position: sticky;
    }
    /* header end */
    /* Skill start */
    .skill .item1{
        padding: 0%;
        margin-top: 100px;
    }
    .skill .item2{
        padding: 0%;
        margin-top: 100px;
    }
    .skill img{
        position: sticky;
        margin-right: 15%;
        margin-top: -90px;
    }
    .skill .item1 img{
        margin-left: 15%;
    }
    /* Skill end */
}

@media (max-width: 998px) {

     /* Skill Start */
    .skill{
        display: block;
    }
    .skill .item1{
        padding: 0px;
    }
    .skill .item1 img{
        margin-left: 20%;
        position: sticky;
    }
    .skill .item2 img{
        margin-left: 20%;
        position: sticky;
    }
    .skill .item2{
        padding: 0px;
    }
    /* Skill End */
}
