*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c799a1;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------------------------- Nav Bar ---------------------------- */
.nav{
    width: 100%;
    display: flex;
    background-color: #d34f65;
    position:sticky;
}

.nav img{
    width: 60px;
    margin-left: 20px;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
}

.nav ul li{
    padding: 20px ;
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
}

.nav ul li a{
    text-decoration: none;
    color: #8ed6d6;
}

.nav ul li a:hover{
    background-color: darkcyan;
    color: white;
}

/* ----------------------------------Header ------------------------- */


.header{
    position: relative;
    margin-top: 110px;
    text-align: center;
}

.header .upper-cloud{
      width: 150px;
      position: absolute;
      top: -120px;
      right: 550px;
}


.header .lower-cloud{
    width: 150px;
    position: absolute;
    left: 550px;
    top: 120px;
}

.header .mountain{
    margin-top: 150px;
    width: 60%;

}

.header p {
   font-size: 20px;
}

.header h1{
    font-size: 55px;
    color: #8ed6d6;
}

/* ------------------------- Container Which Contain All below sections -------------------------- */

.container{
    text-align: center;
    background-color: white;
    margin-top: 50px;
}

/* ------------------------- Info -------------------------- */
.container .info{
    position: relative;
}

.container .info img{
    width: 250px;
    margin-top: 30px;
}

.container .info h1{
    font-size: 40px;
    color: #8ed6d6;
}

.container .info p{
    font-size: 25px;
}



/* ------------------------- Skill -------------------------- */

.skill{
    position: relative;
    display: block;
    text-align: center;
}

.skill h1{
    font-size: 40px;
    color: #d34f65;
    margin-bottom: 4px;
}

.skill .item1{
    margin-top: 20px;
    padding: 0 500px;
}

.skill .item1 img{
    width: 100px;
    position: absolute;
    left: 450px;
}

.skill .item1 h1{
    font-size: 30px;
    color: black;
}

.skill .item1 p{
   font-size: 20px;
   padding: 2px 90px;
}

.skill .item2{
    margin-top: 20px;
    padding: 0 500px;
}

.skill .item2 img{
    width: 100px;
    position: absolute;
    right: 450px;
}

.skill .item2 h1{
    font-size: 30px;
    color: black;
}

.skill .item2 p{
    font-size: 20px;
    padding: 2px 90px;
}


/*  */